@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.hero {
  position: relative;
  background: linear-gradient($color-brand-pink, $color-brand-purple);

  .wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .content {
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #f4ecdc;
      z-index: 20;

        .logo {
          display: none;

          @include breakpoint(mobile) {
            display: flex;
            justify-content: center;
            @include fluid(margin-bottom, 40, 80);

            svg {
              height: 6rem;
              width: auto;
              fill: $color-text-secondary;
            }
          }
        }
  
        h1 {
          font-size: 1.8rem;
          line-height: 1;
          @include fluid(margin-bottom, 15, 30);
  
          strong {
            font-weight: 700;
          }

          @include breakpoint(mobile) {
            text-align: center;
          }
        }
  
        p {
          @include fluid(font-size, 18, 36);
          @include fluid(line-height, 27, 54);

          @include breakpoint(mobile) {
            text-align: center;
          }
        }
  
      .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include fluid(margin-top, 20, 70);

        @include breakpoint(mobile) {
          align-items: center;
          @include fluid(margin-top, 58, 70);
        }
  
        .button {
          background: $color-background-secondary;
        }

        .contract {
          position: relative;
          display: grid;
          grid-template-columns: auto 1fr auto;
          background: rgba($color-background-primary, 0.12);
          border: 2px solid $color-text-secondary;
          border-radius: 27px;
          @include fluid(margin-top, 12, 22);

          @include breakpoint(mobile) {
            @include fluid(margin-top, 54, 22);
          }

          .network {
            display: flex;
            align-items: center;
            @include fluid(padding-top, 5, 10);
            @include fluid(padding-bottom, 5, 10);
            @include fluid(padding-left, 12, 14);
            @include fluid(padding-right, 12, 14);
            background: $color-background-primary;
            border-radius: 21px;
            margin: 0.2rem 1.4rem 0.2rem 0.4rem;

            @include breakpoint(mobile) {
              position: absolute;
              top: -75%;
              left: 50%;
              transform: translateX(-50%);
              margin: 0;
            }

            svg {
              height: 2rem;
              width: auto;
              margin-right: 1rem;
            }

            span {
              color: $color-text-primary;
            }
          }

          .address {
            margin: auto 0;

            span {
              color: $color-text-secondary;
            }

            @include breakpoint(mobile) {
              font-size: 1.4rem;
              @include fluid(padding-top, 7, 14);
              @include fluid(padding-bottom, 7, 14);
              @include fluid(padding-left, 6, 25);
              @include fluid(padding-right, 6, 25);
            }
          }

          .copy {
            padding: 0.6rem;
            margin: auto 2rem auto 4rem;
            cursor: pointer;

            @include breakpoint(mobile) {
              display: none;
            }

            svg {
              fill: $color-text-secondary;
            }
          }
        }
      }
    }

    .image {
      grid-column: 2/3;
      overflow: hidden;
      z-index: 10;

      @include breakpoint(mobile) {
        display: none;
      }

      img {
        display: block;
        @include fluid(height, 300, 697);
        width: auto;
      }

      .overlay {
        position: absolute;
        right: 0;
        overflow: hidden;
      }

      .placeholder {
        opacity: 0;
        position: relative;
      }
    }
  }
}