@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";

.purchase {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -2.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 0;
  }

  .wrapper {
    position: relative;
    top: -2.5rem;
    max-width: 57rem;
    background: $color-background-primary;
    padding: 3.5rem 4.5rem;
    border: 2px solid $color-brand-pink;

    @include breakpoint(mobile) {
      top: auto;
      max-width: 100%;
      border: none;
      padding-left: 0;
      padding-right: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        margin-bottom: 3rem;

        h3 {
          font-size: 2.4rem;
          text-transform: uppercase;

          strong {
            font-weight: 700;
          }
        }
      }

      .list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem 0;
        // @TODO
        // span {
        //   background: red;
        // }
        .item {
          // @TODO
          width: 9.1333rem;
          height: 3.6667rem;
          border-radius: 5px;
          text-align: center;
          line-height: 3.6667rem;
          font-size: 700;
          border: .1333rem solid #FD72AD;
          background: #FFFFFF;
          color: black;

          @include breakpoint(mobile) {
            width: 4rem;
            font-size: 400;
          }
        }

        .itemred {
          // @TODO
          width: 9.1333rem;
          height: 3.6667rem;
          border-radius: 5px;
          text-align: center;
          line-height: 3.6667rem;
          font-size: 700;
          border: .1333rem solid #FD72AD;
          background: #FD72AD;

          @include breakpoint(mobile) {
            width: 4rem;
            font-size: 400;
          }
        }
      }

      .text {
        margin-top: 3rem;

        p {
          font-size: 1.4rem;
          line-height: 2.8rem;
          text-align: center;
        }
      }
    }
  }
}