@import "../../styles/colors.scss";

.button {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-secondary;
  background: $color-brand-pink;
  cursor: pointer;

  &.primary {
    font-size: 1.4rem;
    padding: 1.5rem 3.4rem;
    border-radius: 21px;
  }

  &.secondary {
    font-size: 1.8rem;
    padding: 2.5rem 2.9rem;
    border-radius: 5px;
  }
}