@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.about {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -5rem;

  @include breakpoint(mobile) {
    margin-bottom: 0;
    background: $color-background-secondary;
  }
  
  .wrapper {
    position: relative;
    top: -5rem;
    max-width: 57rem;
    color: $color-text-secondary;
    background: $color-background-secondary;
    padding: 6.5rem 4.5rem;
    border: 10px solid $color-background-primary;
    border-bottom: none;

    @include breakpoint(mobile) {
      top: auto;
      max-width: 100%;
      border: none;
      padding-left: 0;
      padding-right: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .text {
        text-align: center;

        p {
          @include fluid(font-size, 12, 14);
          line-height: 2.8rem;
          margin-bottom: 2rem;
    
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      .action {
        display: flex;
        justify-content: center;
        margin-top: 2.8rem;

        .button {
          color: $color-text-primary;
          background: $color-background-primary;
        }
      }
    }
  }
}