@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.proposals {
  background: linear-gradient($color-brand-pink, $color-brand-purple);
  
  .wrapper {
    @include fluid(padding-top, 112, 128);
    @include fluid(padding-bottom, 112, 128);

    .content {
      .title {
        display: flex;
        justify-content: center;
        margin-bottom: 7.7rem;
    
        h3 {
          font-size: 4.8rem;
          font-weight: 700;
          color: $color-text-secondary;
          text-transform: uppercase;

          @include breakpoint(mobile) {
            font-size: 2.4rem;
            text-align: center;
          }
        }
      }
    
      .content {
        display: flex;
        flex-direction: column;
        
        .list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          column-gap: 3.6rem;

          @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 8rem;
          }

          @include breakpoint(mobile) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            row-gap: 8rem;
            max-width: 28rem;
            margin: 0 auto
          }
          a {
            text-decoration:none;
            color:#333;
          }
      
          .item {
            // @TODO
            display:table;
            height: 24rem;
            // background: url('/assets/images/coming_soon.jpeg') center center;
            // background-size: cover;
            background: white;
            text-align: center;
            border-radius: 5px;
            font-size: 2.8rem;
            font-weight: 700;

            @include breakpoint(mobile) {
              width: 28rem;
            }

            span {
              display:table-cell;
              vertical-align:middle;
            }
          }
        }
      
        .action {
          display: flex;
          justify-content: center;
          @include fluid(margin-top, 99, 137);
      
          .button {
            background: $color-background-secondary;
          }
        }
      }
    }
  }
}