@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.proposals {
  background: linear-gradient($color-brand-pink, $color-brand-purple);
  
  .wrapper {
    @include fluid(padding-top, 128, 128);
    @include fluid(padding-bottom, 128, 128);

    .content {
      .title {
        display: flex;
        justify-content: center;
        margin-bottom: 7.7rem;
    
        h3 {
          font-size: 4.8rem;
          font-weight: 700;
          color: $color-text-secondary;
          text-transform: uppercase;
        }
      }
    
      .content {
        display: flex;
        flex-direction: column;
        
        .list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          @include fluid(column-gap, 36, 36);
      
          .item {
            // @TODO
            display: block;
            height: 24rem;
            background: white;
            border-radius: 5px;
          }
        }
      
        .action {
          display: flex;
          justify-content: center;
          margin-top: 13.7rem;
      
          .button {
            background: $color-background-secondary;
          }
        }
      }
    }
  }
}