@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.token {
  background: $color-background-secondary;
  background-image: url('/assets/images/night-sky.jpg');
  background-position: center;
  background-repeat: no-repeat;

  @include breakpoint(mobile) {
    background-size: cover;
  }

  .wrapper {
    padding: 8rem 0;
    
    .content {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 8rem;
      @include fluid(column-gap, 25, 80);

      @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        @include fluid(row-gap, 60, 80);
      }

      .header {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        
        @include breakpoint(mobile) {
          text-align: center;
          margin-right: 0;
        }
  
        .governance {
          @include fluid(font-size, 14, 24);
          @include fluid(line-height, 16, 27);
          color: $color-text-secondary;
        }
        
        .title {
          @include fluid(font-size, 24, 64);
          @include fluid(line-height, 27, 74);
          color: $color-text-secondary;
          
          strong {
            font-weight: 700;
          }
          
          @include breakpoint(mobile) {
            margin: 1.5rem 0;
          }
        }
  
        .price {
          display: flex;
          align-items: center;
          margin-top: 0.5rem;

          @include breakpoint(mobile) {
            justify-content: center;
          }
  
          .label {
            @include fluid(font-size, 12, 28);
            color: $color-text-secondary;
            background: linear-gradient(to right, $color-brand-purple, $color-brand-pink);
            padding: 0.7rem 0;
            @include fluid(padding-left, 9, 20);
            @include fluid(padding-right, 9, 20);
            border-radius: 8px;
            margin-right: 1.4rem;
          }
  
          .value {
            @include fluid(font-size, 14, 24);
            color: $color-text-secondary;
          }
        }
      }
    }
  
    .values {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
      }
  
      .item {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        @include fluid(margin-right, 15, 40);
        
        &:last-of-type {
          margin-right: 0;
        }

        @include breakpoint(mobile) {
          margin-right: 0;
          margin-bottom: 3.6rem;
          text-align: center;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
  
        .label {
          font-size: 2.2rem;
          @include fluid(font-size, 16, 22);
          line-height: 3.2rem;
          text-transform: capitalize;
          color: #9ea5b1;

          @include breakpoint(mobile) {
            @include fluid(font-size, 20, 22);
          }
        }
  
        .value {
          font-size: 6.4rem;
          @include fluid(font-size, 26, 64);
          line-height: 7.4rem;
          color: $color-text-secondary;

          @include breakpoint(mobile) {
            @include fluid(font-size, 50, 64);
          }
        }
      }
    }
  }
}