@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.support {
  background: $color-background-secondary;

  .wrapper {
    @include fluid(padding-top, 50, 80);
    @include fluid(padding-bottom, 50, 80);

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;

        h3 {
          @include fluid(font-size, 24, 36);
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          color: $color-text-secondary;
        }
      }

      span {
        color: $color-text-secondary;
        background: red;
      }
    }
  }
}