$breakpoint--sm: 640;
$breakpoint--md: 768;
$breakpoint--lg: 1024;
$breakpoint--xl: 1280;
$breakpoint--2xl: 1536;

@mixin breakpoint($size) {
	@media only screen and (min-width: #{$size}px) {
		@content;
	}
} ;
