$color-text--primary: #0f0718;
$color-text--secondary: #707175;
$color-text--tertiary: #ffffff;

$color-background--primary: #f5f6f7;
$color-background--secondary: #ffffff;
$color-background--tertiary: #000000;

$color-brand--blue: #4c87f6;
$color-brand--purple: #8042ca;

$color-black--primary: #191919;
$color-black--secondary: #4c4c4c;
$color-black--tertiary: #b2b2b2;

$color-navy--primary: #0b3451;
$color-navy--secondary: #547285;
$color-navy--tertiary: #b6c2ca;

$color-gold--primary: #887237;
$color-gold--secondary: #d1aa4e;
$color-gold--tertiary: #f3eaaf;
$color-gold--quaternary: #bfb384;

$color-white: #ffffff;
