$color-navy--primary: #0b3451;
$color-navy--secondary: #547285;
$color-navy--tertiary: #b6c2ca;
$color-navy--hover: #37576b;

$color-bronze--primary: #887237;
$color-bronze--secondary: #ab9d73;
$color-bronze--tertiary: #dbd4c3;

$color-gold--primary: #d1aa4e;
$color-gold--secondary: #dfc383;
$color-gold--tertiary: #f1e5cb;

$color-champagne--primary: #f3eaaf;
$color-champagne--secondary: #f7f1c7;
$color-champagne--tertiary: #fbf9e7;

$color-beige--primary: #bfb384;
$color-beige--secondary: #d2caa9;
$color-beige--tertiary: #ece8da;

$color-black--primary: #191919;
$color-black--secondary: #4c4c4c;
$color-black--tertiary: #b2b2b2;

$color-white: #ffffff;
$color-white--hover: #f7f5f0;
