$color-text-primary: #072253;
$color-text-secondary: #ffffff;
$color-text-tertiary: #030303;

$color-background-primary: $color-text-secondary;
$color-background-secondary: $color-text-primary;

$color-brand-pink: #fd72ad;
$color-brand-purple: #a561ff;