$displayWide: 1920;
$displayNarrow: 375;

@mixin fluid($property, $minValue, $maxValue) {
  $x: calc(($maxValue - $minValue) / ($displayWide - $displayNarrow));
  $y: $maxValue - $displayWide * $x;
  #{$property}: calc(#{100*$x}vw + #{$y}px);

  @media screen and (max-width: ($displayNarrow - 1px)) {
    #{$property}: #{$minValue}px
  };

  @media screen and (min-width: ($displayWide + 1px)) {
    #{$property}: #{$maxValue}px
  };
}