@use "./colors.scss" as *;
@use "./fonts.scss" as *;

:root {
	font-size: 62.5%;
}

:global(html, body) {
  height: 100%;
}

:global(body) {
  font-family: $font-family--primary, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $color-text--primary;
  background-color: $color-background--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  
  :global(a) {
    outline: 0;
    text-decoration: none;
  }
}