@mixin transition($type, $properties...) {
  $prefixes: -webkit- -moz- -ms- -o-;
  $style: null;
  
  @if ($type == primary) {
    $style: 150ms ease-out;
  }

  @each $prefix in $prefixes {
    $result: ();
      @each $prop in $properties {
        @if length($result) > 0 {
          $result: append($result, unquote(",") #{$prop} $style);
        } @else {
          $result: append($result, #{$prop} $style);
        }
      }
    #{$prefix}transition: $result;
  }
}