@mixin typography-base {
  font-size: 33px;
  font-weight: normal;
  line-height: 1.4;
}

$typography-weight--extra-light: 200;
$typography-weight--light: 300;
$typography-weight--regular: 400;
$typography-weight--medium: 500;
$typography-weight--semi-bold: 700;
$typography-weight--bold: 700;
$typography-weight--heavy: 800;
$typography-weight--black: 800;

$typography-line-height--small: 1.2;
