@import "../../../styles/colors.scss";

.timeline {
  display: flex;
  justify-content: center;
  overflow: hidden;

  .wrapper {
    max-width: 49rem;
    padding: 5.5rem 0 8rem;

    .content {
      .list {
        display: flex;
        flex-direction: column;
  
        .item {
          display: grid;
          grid-template-columns: 8rem 3.3rem 1fr;
          grid-template-rows: auto 1fr;
          row-gap: 1.2rem;
          column-gap: 2rem;
          margin-bottom: 6rem;
  
          .date {
            grid-column: 1/2;
            grid-row: 2/3;
  
            span {
              font-size: 2.4rem;
              font-weight: 700;
            }
          }
  
          .point {
            grid-column: 2/3;
            grid-row: 2/3;
            position: relative;
            background: linear-gradient($color-brand-purple, $color-brand-pink);
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
  
            &::after {
              content: "";
              position: absolute;
              width: 0.5rem;
              left: 1.4rem;
              top: -100rem;
              bottom: -100rem;
              background: $color-background-secondary;
              z-index: -10;
            }
  
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: 1rem;
              background: $color-background-primary;
              border-radius: 50%;
              z-index: 10;
            }
          }
  
          .title {
            grid-column: 3/4;
            grid-row: 1/2;
  
            span {
              font-size: 1.8rem;
              text-transform: capitalize;
              color: #707175;
            }
          }
  
          .text {
            grid-column: 3/4;
            grid-row: 2/3;
  
            p {
              font-size: 1.8rem;
              line-height: 2.3rem;
            }
          }
        }
      }
    }
  }
}