@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";

.faq {
  padding: 10rem;

  @include breakpoint(mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    .content {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 4rem;

      @include breakpoint(mobile) {
        grid-template-columns: 1fr;
      }

      .title {
        @include breakpoint(mobile) {
          text-align: center;
          margin-bottom: 3rem;
        }

        h3 {
          @include fluid(font-size, 48, 64);
          font-weight: 700;

          @include breakpoint(mobile) {
            text-align: center;
          }
        }

        span {
          font-size: 1.8rem;
        }

      }

      .list {
        .item {
          margin-bottom: 4.4rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}