@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";
@import "../../styles/wrapper.scss";

.footer {
  color: $color-text-secondary;
  background: $color-background-secondary;
  @include fluid(padding-top, 50, 160);
  @include fluid(padding-bottom, 50, 160);

  .container {
    @include wrapper;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      row-gap: 6rem;
    }

    .links {
      grid-column: 1/2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include breakpoint(tablet) {
        grid-row: 3/4;
        justify-content: center;
      }

      .logo {
        cursor: pointer;
        @include fluid(margin-right, 16, 76);

        @include breakpoint(tablet) {
          display: none;
        }

        svg {
          height: 6.1rem;
          width: auto;
          fill: $color-text-secondary;
        }
      }

      .items {
        a {
          @include fluid(font-size, 16, 18);
          color: $color-text-secondary;
          @include fluid(margin-right, 25, 50);

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .actions {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(tablet) {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .action {
        color: $color-text-primary;
        background: $color-background-primary;
        @include fluid(padding-left, 34, 67);
        @include fluid(padding-right, 34, 67);
      }
    }

    .socials {
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include breakpoint(tablet) {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-content: center;
      }

      a {
        display: flex;
        @include fluid(margin-right, 17, 34);

        &:last-of-type {
          margin-right: 0
        }

        svg {
          height: 2.9rem;
          width: auto;
          fill: $color-text-secondary;
        }
      }
    }
  }
}