@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";
@import "../../styles/wrapper.scss";

.footer {
  color: $color-text-secondary;
  background: $color-background-secondary;
  @include fluid(padding-top, 30, 160);
  @include fluid(padding-bottom, 30, 160);

  .container {
    @include wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .group {
      display: flex;
      align-items: center;

      &:nth-of-type(2) {
        justify-content: center;
      }

      &:nth-of-type(3) {
        justify-content: flex-end;
      }

      .logo {
        margin-right: 7.6rem;

        svg {
          height: 6.1rem;
          width: auto;
          fill: $color-text-secondary;
        }
      }

      .links {
        a {
          font-size: 1.8rem;
          color: $color-text-secondary;
          margin-right: 5rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .action {
        color: $color-text-primary;
        background: $color-background-primary;
        padding-left: 6.7rem;
        padding-right: 6.7rem;
      }

      .socials {
        display: flex;
        align-items: center;

        a {
          display: flex;
          margin-right: 3.4rem;

          &:last-of-type {
            margin-right: 0
          }

          svg {
            height: 2.9rem;
            width: auto;
            fill: $color-text-secondary;
          }
        }
      }
    }
  }
}